body {
    font-family: 'Consolas', monospace;
    font-size: 11pt;
    white-space: pre-wrap;
    background-color: white;
    color: black;
}

.line {
    margin: 0;
}

.line-number {
    color: #606060;
}

.variable {
    color: #008000;
}

.token {
    color: #0713b0;
}

.rem {
    background-color: #e0e0e0;
}

.string {
    color: #985793;
}

.number {
    color: #A00000;
}

.asm {
    color: #05225e;
}

.asm-label {
    color: #866c00;
}
